*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	color: $colour-default;
	font: $font-default;
	overflow-wrap: break-word;
	scroll-behavior: smooth;
	display: grid;
	grid-template-columns: 1rem 1fr minmax(auto, 60rem) 1fr 1rem;

	@media(max-width: 25rem) {
		font-size: 100%;
	}
}