.beer {
	@extend %column;
	align-items: center;
}

.section-heading,
.subtitle,
.text-content {
	text-align: center;
	max-width: 37.5rem;
}

.carousel {
	@extend %row;
	margin-top: 2rem;
	max-width: 100%;
	position: relative;

	& button {
		position: absolute;
		padding: 0;
		background: transparent;
		box-shadow: none;
		top: 1.25rem;
		bottom: 2rem;
		z-index: 2;

		&:hover {
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:active {
			transform: none;
			background-color: rgba(0, 0, 0, 0.1);

			& > svg {
				filter: brightness(150%) saturate(0);
			}
		}

		& > svg {
			height: 2rem;
			width: 2rem;
		}

		&.carousel-left {
			left: 0;
		}

		&.carousel-right {
			right: 0;

			& > svg {
				transform: rotate(.5turn);
			}
		}
	}

	& > .beer-images {
		@extend %row;
		justify-content: center;
		width: 100%;
		overflow-x: auto;
		text-align: center;
		outline: none;

		@media(min-width:27.5rem) {
			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 1.5rem;
				z-index: 1;
			}

			&::before {
				background: linear-gradient(to right,
					rgba(255,255,255,1),
					rgba(255,255,255,1) 15%,
					rgba(255,255,255,0)
				);
				left: 0;
				right: 75%;
			}

			&::after {
				background: linear-gradient(to left,
				rgba(255,255,255,1),
				rgba(255,255,255,1) 15%,
				rgba(255,255,255,0)
				);
				right: 0;
				left: 75%;
			}
		}

		@media(min-width:45rem) {
			&::before {
				right: 65%;
			}

			&::after {
				left: 65%;
			}
		}

		@media(min-width:60rem) {
			&::before {
				right: 60%;
			}

			&::after {
				left: 60%;
			}
		}

		&.noscript::before,
		&.noscript::after {
			background: none;
		}

		figure {
			width: 10rem;
			flex-shrink: 0;
		}

		& h3 {
			color: $colour-default;
			margin-top: 0.25rem;
		}

		& .subtitle {
			line-height: .5;
			color: $colour-dark;
			font-size: 1.5em;
			margin-top: 0.5em;
		}

		& .alcohol {
			font-size: .5em;
		}

		& p {
			white-space: nowrap;
		}
	}
}