section.brewery {
	// IE fallback
	padding: 2rem;
	width: 90%;
	max-width: 55rem;
	@supports(grid-area: auto) {
		padding: 0;
		width: 100%;
		max-width: 100%;
	}

	grid-column: 2/-2;
	margin-top: 2rem;

	& > h2 {
		margin-top: 2rem;
	}

	& > img {
		max-height: 20rem;
		max-width: 100%;
	}

	& > a {
		@extend %button;
	}

	@supports(grid-area: auto) {
	@media(min-width: 59rem) {
		margin-top: 5rem;
		grid-column: 1/-2;
		display: grid;
		grid-template:
		repeat(5, auto) 2rem /
			2fr 3fr;
		grid-column-gap: 3rem;
		justify-items: start;

		& > * {
			max-width: 50rem;
		}

		& > img {
			justify-self: end;
			height: 100%;
			max-height: 100%;
			grid-row: 1/-1;
			object-fit: cover;
		}
	}
	}
}