*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	color: $colour-default;
	font: $font-default;
	overflow-wrap: break-word;
	scroll-behavior: smooth;
}

h1 {
	@extend %h1;
}

h2 {
	@extend %h2;
}

h3 {
	@extend %h3;
}

h1,
h2,
h3 {
	color: $colour-brand;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 0.5rem;
}

img {
	max-width:100%;
}

figcaption {
	font-size: 0.75em;
}

button {
	@extend %button;
}