h2 {
	@extend %h2;
}

h3 {
	@extend %h3;
}

h2,
h3 {
	color: $colour-brand;
	font-weight: 900;
	line-height: 1;
	margin-bottom: 0.5rem;
}

img {
	max-width:100%;
}

figcaption {
	font-size: 0.75em;
}

a,
a:link,
a:visited {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	@extend %button;
}