body > footer {
	margin: 5rem 0 7rem 0;
	width: 13rem;
	grid-column: 3/-3;
	@extend %column;
	align-items: center;

	.footer-image {
		fill: $colour-alt-light;
	}

	& > small {
		color: $colour-alt-light;
		font-weight: 900;
		line-height: 0.75;
		text-align: center;
	}

	& .copyright {
		font-size: 125%;
		margin-bottom: 1.5em;
	}
}