.hero {
	@extend %column;
	align-items: center;
	background: url("../img/hero-bg.jpg") center/cover  no-repeat;
	padding: 0 1rem 5rem 1rem;
	text-align: center;
	color: $colour-light;
	margin-bottom: 2rem;

	& > * {
		max-width: 37.5rem;
	}

	& > header {
		width: 100%;
	}

	& > p::before {
		content: '';
		display: block;
		position: relative;
		left: 50%;
		transform: translate(-50%, -1.75rem);
		background: white;
		width: 6rem;
		height: 0.0625rem;
	}
}

.site-nav-button {
	display: none;
}

.site-nav-links {
	@extend %row;
	flex-wrap: wrap;
	font-weight: 700;
	padding: 0;
	list-style-type: none;
	justify-content: space-between;

	& > li {
		margin: 0.75rem;
	}

	& a {
		color: $colour-light;
		text-decoration: none;

		&:hover {
			color: $colour-alt;
			text-decoration: underline;
		}
	}
}

.hero-image {
	width: 100%;
	padding: 3rem 0;
}

@import 'hero-mq';