html {
	color: $colour-default;
	font: $font-default;
	overflow-wrap: break-word;
}

body > * {
	padding: 0 1rem;
}

.subtitle,
h1,
h2,
h3,
h4,
h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
}

.subtitle {
	font-style: italic;
}