$colour-default: #333;
$colour-brand: #cd2814;
$colour-alt: #282832;
$colour-light: #e6e6e6;
$colour-dark: #191919;
$colour-link-visited: #8c190f;
$colour-link-hover: #767676;
$colour-link: $colour-brand;