$colour-default: #333;
$colour-brand: #414A4D;
$colour-alt: #A3B9BF;
$colour-light: #D3CDC1;
$colour-dark: #191919;
$colour-link-visited: #8c190f;
$colour-link-hover: #767676;
$colour-link: $colour-brand;