$colour-default: #89807A;
$colour-brand: #5A666A;
$colour-alt: #A3B9BF;
$colour-light: #D3CDC1;
$colour-dark: #AEA79E;
$colour-link-visited: #8c190f;
$colour-link-hover: #767676;
$colour-link: $colour-brand;