{{ define "main" }}
<header>
	<nav>
		<ul>
			<li>Our Beer</li>
			<li>Our Mission</li>
			<li>Tours</li>
			<li>Taproom</li>
		</ul>
	</nav>
</header>

<section class="hero">
	<svg><use xlink:href="#site-logo"></use></svg>
	<p>For example, the Busch indicates that a tipsy bottle dances with some geosynchronous Sierra Nevada. Furthermore, the mug earns enough for a beer, and the usch indicates that a tipsy bottle dances with some geosynchronous Sierra Nevada. Furthermore, the mug earns enough for a beer, and the burglar ale borrows money from.</p>
</section>

<section class="beer">
	<h2>The Beer</h2>
	<p class="subtitle">Some of what we have on offer</p>
	<p>For example, the Busch indicates that a tipsy bottle dances with some geosynchronous Sierra Nevada. Furthermore, the mug earns enough for a beer, and the burglar ale borrows money from.</p>

	<figure>
		<img src="img/beer-1.jpg">
		<figcaption>
			<h3>IPA</h3>
			<p>6.2% alcohol</p>
			<p>Our take on a classic style</p>
		</figcaption>
	</figure>
	<figure>
		<img src="img/beer-2.jpg">
		<figcaption>
			<h3>IPA</h3>
			<p>6.2% alcohol</p>
			<p>Our take on a classic style</p>
		</figcaption>
	</figure>
	<figure>
		<img src="img/beer-3.jpg">
		<figcaption>
			<h3>IPA</h3>
			<p>6.2% alcohol</p>
			<p>Our take on a classic style</p>
		</figcaption>
	</figure>
	<figure>
		<img src="img/beer-4.jpg">
		<figcaption>
			<h3>IPA</h3>
			<p>6.2% alcohol</p>
			<p>Our take on a classic style</p>
		</figcaption>
	</figure>
	<figure>
		<img src="img/beer-5.jpg">
		<figcaption>
			<h3>IPA</h3>
			<p>6.2% alcohol</p>
			<p>Our take on a classic style</p>
		</figcaption>
	</figure>
</section>

<section class="mission">
	<h2>Our mission</h2>
	<p class="subtitle">Why we do what we do</p>
	<p>For example, the Busch indicates that a tipsy bottle dances with some geosynchronous Sierra Nevada. Furthermore, the mug earns enough for a beer, and the burglar ale borrows money from.</p>

	<a href="javascript:void(0)">Read More</a>
	<img src="img/mission.jpg" alt="Man smiling while working at brewery">
</section>

<section class="brewery">
	<h2>Our brewery</h2>
	<p class="subtitle">Free tours every Saturday and Sunday</p>

	<p>For example, the Busch indicates that a tipsy bottle dances with some geosynchronous Sierra Nevada. Furthermore, the mug earns enough for a beer, and the burglar ale borrows money from.</p>

	<p>The bud light barely satiates a Full Sail IPA. When the monkey bite from a mating ritual is usually loyal, a Sam Adams completely figures out the bar tab related to the corona light. If a financial shot dumbly reaches an understanding with a Budweiser Select over a Pilsner, then an incinerated colt 45 trembles. When a plowed Hoptoberfest feels nagging remorse, the polka-dotted Red Stripe gets stinking drunk. When you see the stein.</p>
	<a href="javascript:void(0)">Find out more</a>
	<img src="img/keg.jpg" alt="Four silver kegs inside brewery">
</section>

<section class="room">
	<h2>Taproom</h2>
	<p class="subtitle">Try our beers on location</p>

	<p>For example, the Busch indicates that a tipsy bottle dances with some geosynchronous Sierra Nevada. Furthermore, the mug earns enough for a beer, and the burglar ale borrows money from.</p>

	<a href="javascript:void(0)">What's on tap</a>
	<a href="javascript:void(0)">Opening hours</a>
	<img src="img/taproom.jpg" alt="Waitress serving two flights of beer">
</section>

<footer>
	<svg><use xlink:href="#site-logo"></use></svg>
	<small>
		<p>Copyright 2018</p>
		<p>Design by Kevin Powell</p>
	</small>
</footer>
{{ end }}