%h1,
%h2,
%h3,
%h4,
%h5 {
	font-family: "program", sans-serif;
}

%h1 {
	font-size: 2.7em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
}

%h2 {
	font-size: 2.4em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}

%h3 {
	font-size: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}

%h4 {
	font-size: 1.5em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
}

%h5 {
	font-size: 1.17em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
}

%link {
	text-decoration-skip-ink: auto;
	display: inline;
	color: $colour-link;
	padding: 0;
	min-width: 0;
	min-height: 0;
	background-color: transparent;
	box-shadow: none;
	text-decoration: underline;

	&:link {
		color: $colour-link;
	}

	&:visited {
		color: $colour-link-visited;
	}

	&:hover {
		color: $colour-link-hover;
	}

	&:active {
		color: $colour-link-visited;
		transform: none;
	}
}

%button {
	cursor: pointer;
	border: none;
	padding: 0.75rem $indent;
	min-width: 3rem;
	min-height: 3rem;
	background-color: $colour-alt;
	color: #fff;
	border-radius: $border-rounded;
	box-shadow: $shadow-default;
	display: inline-block;
	text-align: center;

	&:active {
		@extend %active-element;
	}
}

a%button,
a:visited%button,
a:link%button {
	color: #fff;
	text-decoration: none;
}