ol%ordinal ol%reset {
	list-style-type: lower-alpha;
}

ol%ordinal ol%reset ol {
	list-style-type: lower-roman;
}

ul%no-bullets,
ul%boolean,
ol%ordinal,
ol%ordinal > li > ol,
ol%ordinal > li > ol > li > ol {
	list-style-type: none;
}

ul%no-bullets {
	padding-left: 0;
}

ul%boolean > li,
ol%ordinal > li,
ol%ordinal > li > ol > li,
ol%ordinal > li > ol > li > ol > li {
	position: relative;
}

ul%boolean > li::before,
ol%ordinal li::before,
ol%ordinal%headings > li > :first-child::before {
	position: absolute;
	right: 100%;
}

ul%boolean > li::before {
	font-weight: 700;
	content: '?\00a0';
}

ul%boolean%true > li:not(%false)::before,
ul%boolean > li%true::before {
	content: '\2713\00a0';
	color: #00a51b;
}

ul%boolean%false > li:not(%true)::before,
ul%boolean > li%false::before {
	content: '\2717\00a0';
	color: #a50000;
}

ol%ordinal,
ol%ordinal ol {
	counter-reset: section;
}

ol%ordinal > li::before,
ol%ordinal > li > ol > li::before,
ol%ordinal > li > ol > li> ol > li::before,
ol%ordinal%headings > li > :first-child::before  {
	counter-increment: section;
	content: counters(section, ".") ".\00a0";
}

ol%ordinal ul li::before,
ol%ordinal ol%reset li::before,
ol%ordinal%headings > li::before {
	content: none;
}